# About
***
This notebook serves as a guide to access the S3 bucket

In [1]:
import boto3
import pandas as pd

# initiate a S3 client that uses ENV variables for authentication
s3_client = boto3.client("s3")

# dowload to pandas 
obj = s3_client.get_object(Bucket='jgoerner-nba', Key='raw/dumped/Spielerliste.csv')
pd.read_csv(obj['Body'], delimiter=";").head()

,Player,Pos,Birth Date,Colleges
0,Alaa Abdelnaby,F-C,"June 24, 1968",Duke University
1,Zaid Abdul-Aziz,C-F,"April 7, 1946",Iowa State University
2,Kareem Abdul-Jabbar*,C,"April 16, 1947","University of California, Los Angeles"
3,Mahmoud Abdul-Rauf,G,"March 9, 1969",Louisiana State University
4,Tariq Abdul-Wahad,F,"November 3, 1974","University of Michigan, San Jose State University"