# Example: Create team node
---
Created Nodes & Relationships
- Arena
- City
- State
- Country

### Imports

In [17]:
# Necessary to import custom modules
import os
os.chdir("/home/jovyan/work")

import pandas as pd

from src.utils import init_connection
from src.models import Arena, City, Country, State

### Configuration

In [18]:
init_connection()

### Arena Node creation

In [19]:
df_arenas = pd.read_csv("./data/arenas.csv", delimiter=";")
df_arenas.columns = map(lambda x: x.strip(), df_arenas.columns)
df_arenas.head()

,stadium,city,state,country,home_team,capacity,geo1,geo2
0,Madison Square Garden,New York,New York,USA,New York Knicks,"19,812",40.750556,-73.993611
1,Barclays Center,Brooklyn,New York,USA,Brooklyn Nets,"17,732",40.682661,-73.975225
2,TD Garden,Boston,Massachusetts,USA,Boston Celtics,"18,624",42.366303,-71.062228
3,Wells Fargo Center,Philadelphia,Pennsylvania,USA,Philadelphia 76ers,"20,328",39.901111,-75.171944
4,Capital One Arena,Washington,D.C.,USA,Washington Wizards,"20,356",38.898056,-77.020833

In [20]:
for _, row in df_arenas.drop_duplicates(subset=["stadium"]).iterrows():
    arena = Arena(
        name=row["stadium"],
        capacity=int(row["capacity"].replace(",", "")),
        latitude=row["geo1"],
        longitude=row["geo2"]
    )
    arena.save()

### City Node Creation

In [21]:
for _, row in df_arenas.drop_duplicates(subset=["city"]).iterrows():
    city = City(name=row["city"])
    city.save()

### State Node Creation

In [22]:
for _, row in df_arenas.drop_duplicates(subset=["state"]).iterrows():
    state = State(name=row["state"])
    state.save()

### Country Node Creation

In [23]:
for _, row in df_arenas.drop_duplicates(subset=["country"]).iterrows():
    country = Country(name=row["country"])
    country.save()

### Relationships

In [24]:
for _, row in df_arenas.drop_duplicates(subset=["stadium"]).iterrows():
    # get entities
    a = Arena.nodes.get(name=row["stadium"])
    ci = City.nodes.get(name=row["city"])
    s = State.nodes.get(name=row["state"])
    co = Country.nodes.get(name=row["country"])
    
    # create relationships
    a.city.connect(ci)
    ci.state.connect(s)
    s.country.connect(co)