# Example: Create team node
---
Created Relationships
- Arena
- Team

In [1]:
# Necessary to import custom modules
import os
os.chdir("/home/jovyan/work")

import pandas as pd

from src.utils import init_connection
from src.models import Team, Arena

# Connection

In [2]:
init_connection()

# Create relationship between Arena and Team

In [3]:
df_arenas = pd.read_csv("./data/arenas.csv", delimiter=";")
df_arenas.columns = map(lambda x: x.strip(), df_arenas.columns)
df_arenas.head()

,stadium,city,state,country,home_team,capacity,geo1,geo2
0,Madison Square Garden,New York,New York,USA,New York Knicks,"19,812",40.750556,-73.993611
1,Barclays Center,Brooklyn,New York,USA,Brooklyn Nets,"17,732",40.682661,-73.975225
2,TD Garden,Boston,Massachusetts,USA,Boston Celtics,"18,624",42.366303,-71.062228
3,Wells Fargo Center,Philadelphia,Pennsylvania,USA,Philadelphia 76ers,"20,328",39.901111,-75.171944
4,Capital One Arena,Washington,D.C.,USA,Washington Wizards,"20,356",38.898056,-77.020833

In [4]:
for _, row in df_arenas.iterrows():
    # get entities
    a = Arena.nodes.get(name=row["stadium"])
    t = Team.nodes.get(name=row["home_team"])
    
    # create relationships
    t.arena.connect(a)

AttributeError: 'Team' object has no attribute 'arena'