In [1]:
import pandas as pd
import glob, os  
import dateparser
import numpy as np

In [3]:
!pip install dateparser

Collecting dateparser
  Downloading https://files.pythonhosted.org/packages/ac/9e/1aa87c0c59f9731820bfd20a8b148d97b315530c2c92d1fb300328c8c42f/dateparser-0.7.0-py2.py3-none-any.whl (357kB)
    100% |████████████████████████████████| 358kB 302kB/s ta 0:00:01
Requirement already satisfied: python-dateutil in /opt/conda/lib/python3.6/site-packages (from dateparser)
Requirement already satisfied: pytz in /opt/conda/lib/python3.6/site-packages (from dateparser)
Collecting tzlocal (from dateparser)
  Downloading https://files.pythonhosted.org/packages/cb/89/e3687d3ed99bc882793f82634e9824e62499fdfdc4b1ae39e211c5b05017/tzlocal-1.5.1.tar.gz
Collecting regex (from dateparser)
  Downloading https://files.pythonhosted.org/packages/9f/79/adbe79373ec3c56ae61670bbed30609fe4a9b6af835478fa12bf8795cdec/regex-2018.07.11.tar.gz (628kB)
    100% |████████████████████████████████| 634kB 294kB/s ta 0:00:01
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.6/site-packages (from python-dateutil->dateparser)
Building wheels for collected packages: tzlocal, regex
  Running setup.py bdist_wheel for tzlocal ... done
  Stored in directory: /home/jovyan/.cache/pip/wheels/15/ae/df/a67bf1ed84e9bf230187d36d8dcfd30072bea0236cb059ed91
  Running setup.py bdist_wheel for regex ... done
  Stored in directory: /home/jovyan/.cache/pip/wheels/cc/bf/b9/a2c431d3b6285626a4938ee6dbd287b961e5142c5ab80b8e8b
Successfully built tzlocal regex
Installing collected packages: tzlocal, regex, dateparser
Successfully installed dateparser-0.7.0 regex-2018.7.11 tzlocal-1.5.1
You are using pip version 9.0.1, however version 18.0 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

# Season 1718

In [5]:
#always delete the season file in the folder before executing
df1718 = pd.concat([pd.read_csv(f) for f in glob.glob('../data/1718/*1718.csv')], ignore_index = True)

In [6]:
df1718.head()

,Date,Start (ET),Visitor/Neutral,PTS,Home/Neutral,PTS.1,Unnamed: 6,Unnamed: 7,Attend.,Notes
0,Wed Nov 1 2017,7:30 pm,Sacramento Kings,86,Boston Celtics,113,Box Score,NaN,18624,NaN
1,Wed Nov 1 2017,7:00 pm,Milwaukee Bucks,121,Charlotte Hornets,126,Box Score,NaN,15655,NaN
2,Wed Nov 1 2017,7:00 pm,Indiana Pacers,124,Cleveland Cavaliers,107,Box Score,NaN,20562,NaN
3,Wed Nov 1 2017,9:00 pm,Toronto Raptors,111,Denver Nuggets,129,Box Score,NaN,14072,NaN
4,Wed Nov 1 2017,10:30 pm,Dallas Mavericks,98,Los Angeles Clippers,119,Box Score,NaN,13487,NaN

In [7]:
#drop unused columns
df1718 = df1718.drop(df1718.columns[[6, 9]], axis=1)

In [8]:
#parse date so its format yyyy-mm-dd
df1718["Date"] = [dateparser.parse(x) for x in df1718['Date'] ]

In [9]:
#sorting by date
df1718 = df1718.sort_values(by="Date", axis=0)

In [10]:
#rename OT column
df1718 = df1718.rename(columns={"Unnamed: 7": "OT"})

In [11]:
#parse OT column to get either 0s or 1s
df1718.ix[df1718["OT"] == "OT", "OT"] = 1
df1718.ix[df1718["OT"] != 1, "OT"] = 0

In [12]:
# looked up the end of the regular season and created the game type column from date values 
df1718["game_type"] = ""
df1718.ix[df1718["Date"] > "2018-04-12", "game_type"] = "playoff"
df1718.ix[df1718["Date"] <= "2018-04-11", "game_type"] = "regular_season"

In [ ]:
df1718.loc[df1718["game_type"] == "playoff"]

In [14]:
df1718.ix[df1718["Date"] > "2017-04-12", "game_name"] = df1718["Visitor/Neutral"] + " vs. " + df1718["Home/Neutral"]

In [15]:
df1718.head()

,Date,Start (ET),Visitor/Neutral,PTS,Home/Neutral,PTS.1,OT,Attend.,game_type,game_name
213,2017-10-17,8:01 pm,Boston Celtics,99,Cleveland Cavaliers,102,0,20562,regular_season,Boston Celtics vs. Cleveland Cavaliers
214,2017-10-17,10:30 pm,Houston Rockets,122,Golden State Warriors,121,0,19596,regular_season,Houston Rockets vs. Golden State Warriors
216,2017-10-18,8:30 pm,Atlanta Hawks,117,Dallas Mavericks,111,0,19709,regular_season,Atlanta Hawks vs. Dallas Mavericks
215,2017-10-18,7:30 pm,Milwaukee Bucks,108,Boston Celtics,100,0,18624,regular_season,Milwaukee Bucks vs. Boston Celtics
225,2017-10-18,7:00 pm,Philadelphia 76ers,115,Washington Wizards,120,0,20356,regular_season,Philadelphia 76ers vs. Washington Wizards

In [16]:
df1718.to_csv("../data/1718/season1718.csv", sep=',', encoding='utf-8')

# Season 1617

In [4]:
#always delete the season file in the folder before executing
df1617 = pd.concat([pd.read_csv(f) for f in glob.glob('../data/1617/*1617.csv')], ignore_index = True)

In [5]:
df1617.head()

,Date,Start (ET),Visitor/Neutral,PTS,Home/Neutral,PTS.1,Unnamed: 6,Unnamed: 7,Attend.,Notes
0,Sun Jan 1 2017,6:00 pm,San Antonio Spurs,112,Atlanta Hawks,114,Box Score,OT,18088,NaN
1,Sun Jan 1 2017,6:00 pm,Orlando Magic,104,Indiana Pacers,117,Box Score,NaN,17530,NaN
2,Sun Jan 1 2017,9:30 pm,Toronto Raptors,123,Los Angeles Lakers,114,Box Score,NaN,18997,NaN
3,Sun Jan 1 2017,6:00 pm,Detroit Pistons,107,Miami Heat,98,Box Score,NaN,19844,NaN
4,Sun Jan 1 2017,7:00 pm,Portland Trail Blazers,95,Minnesota Timberwolves,89,Box Score,NaN,15804,NaN

In [6]:
#drop unused columns
df1617 = df1617.drop(df1617.columns[[6, 9]], axis=1)

In [7]:
#parse date so its format yyyy-mm-dd
df1617["Date"] = [dateparser.parse(x) for x in df1617['Date'] ]

In [8]:
#sorting by date
df1617 = df1617.sort_values(by="Date", axis=0)

In [9]:
#rename OT column
df1617 = df1617.rename(columns={"Unnamed: 7": "OT"})

In [10]:
#parse OT column to get either 0s or 1s
df1617.ix[df1617["OT"] == "OT", "OT"] = 1
df1617.ix[df1617["OT"] != 1, "OT"] = 0

In [15]:
# looked up the end of the regular season and created the game type column from date values 

df1617.ix[df1617["Date"] > "2017-04-13", "game_type"] = "playoff"
df1617.ix[df1617["Date"] <= "2017-04-12", "game_type"] = "regular_season"

In [ ]:
df1617.loc[df1617["game_type"] == "playoff"]

In [19]:
df1617.ix[df1617["Date"] > "2010-04-12", "game_name"] = df1617["Visitor/Neutral"] + " at " + df1617["Home/Neutral"]

In [20]:
df1617.head()

,Date,Start (ET),Visitor/Neutral,PTS,Home/Neutral,PTS.1,OT,Attend.,game_type,game_name
1266,2016-10-25,10:00 pm,Utah Jazz,104,Portland Trail Blazers,113,0,19446,regular_season,Utah Jazz at Portland Trail Blazers
1264,2016-10-25,7:30 pm,New York Knicks,88,Cleveland Cavaliers,117,0,20562,regular_season,New York Knicks at Cleveland Cavaliers
1265,2016-10-25,10:30 pm,San Antonio Spurs,129,Golden State Warriors,100,0,19596,regular_season,San Antonio Spurs at Golden State Warriors
1276,2016-10-26,7:30 pm,Detroit Pistons,91,Toronto Raptors,109,0,19800,regular_season,Detroit Pistons at Toronto Raptors
1267,2016-10-26,7:30 pm,Brooklyn Nets,117,Boston Celtics,122,0,18624,regular_season,Brooklyn Nets at Boston Celtics

In [23]:
df1617.to_csv("../data/season_files/season1617.csv", sep=',', encoding='utf-8')

# Playground

In [94]:
df1718["winner"] = np.where(df1718['PTS']>df1718['PTS.1'], df1718["Visitor/Neutral"], df1718["Home/Neutral"])

In [95]:
df1718.head()

,Date,Start (ET),Visitor/Neutral,PTS,Home/Neutral,PTS.1,Attend.,winner
213,2017-10-17,8:01 pm,Boston Celtics,99,Cleveland Cavaliers,102,20562,Cleveland Cavaliers
214,2017-10-17,10:30 pm,Houston Rockets,122,Golden State Warriors,121,19596,Houston Rockets
216,2017-10-18,8:30 pm,Atlanta Hawks,117,Dallas Mavericks,111,19709,Atlanta Hawks
215,2017-10-18,7:30 pm,Milwaukee Bucks,108,Boston Celtics,100,18624,Milwaukee Bucks
225,2017-10-18,7:00 pm,Philadelphia 76ers,115,Washington Wizards,120,20356,Washington Wizards

### List of teams with most wins

In [114]:
df1718["winner"].groupby(df1718["winner"]).count().sort_values(ascending=False)

winner
Houston Rockets           76
Golden State Warriors     74
Boston Celtics            66
Toronto Raptors           63
Cleveland Cavaliers       62
Philadelphia 76ers        57
Utah Jazz                 53
New Orleans Pelicans      53
Indiana Pacers            51
Oklahoma City Thunder     50
Portland Trail Blazers    49
San Antonio Spurs         48
Minnesota Timberwolves    48
Milwaukee Bucks           47
Denver Nuggets            46
Washington Wizards        45
Miami Heat                45
Los Angeles Clippers      42
Detroit Pistons           39
Charlotte Hornets         36
Los Angeles Lakers        35
New York Knicks           29
Brooklyn Nets             28
Sacramento Kings          27
Chicago Bulls             27
Orlando Magic             25
Atlanta Hawks             24
Dallas Mavericks          24
Memphis Grizzlies         22
Phoenix Suns              21
Name: winner, dtype: int64