# Feature Generation
This notebooks contains features derived with Cypher

In [24]:
# Necessary to import custom modules
import os
os.chdir("/home/jovyan/work")

from neomodel import db
import pandas as pd

from src.utils import init_connection

In [25]:
init_connection()

### Number of Regular Season Wins Per Team Per Season

#### CYPHER
```
MATCH 
    (t:Team)-[:SCORED]->(s:Score)-[:IN_GAME]->(g:Game)<-[:IN_GAME]-(s2:Score)<-[:SCORED]-(t2:Team), (sea:Season)
WHERE 
    (g)-[:TOOK_PLACE_IN]->(sea)
RETURN 
    t.name as team, sum(CASE WHEN s.score > s2.score AND g.game_type = "regular_season" THEN 1 ELSE 0 END) as wins, sea.name as season
ORDER BY 
    team, season
```

In [35]:
wins_per_team_per_season = """
MATCH 
    (t:Team)-[:SCORED]->(s:Score)-[:IN_GAME]->(g:Game)<-[:IN_GAME]-(s2:Score)<-[:SCORED]-(t2:Team), (sea:Season)
WHERE 
    (g)-[:TOOK_PLACE_IN]->(sea)
RETURN 
    t.name as team, sum(CASE WHEN s.score > s2.score AND g.game_type = "regular_season" THEN 1 ELSE 0 END) as wins, sea.name as season
ORDER BY 
    team, season
"""

In [36]:
dta, hea = db.cypher_query(wins_per_team_per_season)

In [37]:
pd.DataFrame(dta, columns=hea).head()

             team  wins     season
0   Atlanta Hawks    34  2015/2016
1   Atlanta Hawks    39  2016/2017
2   Atlanta Hawks    58  2017/2018
3  Boston Celtics    34  2015/2016
4  Boston Celtics    29  2016/2017

### Number of Regular Season Wins Per Team Per Season

#### CYPHER
```
MATCH 
    (t:Team)-[:SCORED]->(s:Score)-[:IN_GAME]->(g:Game)<-[:IN_GAME]-(s2:Score)<-[:SCORED]-(t2:Team), (sea:Season)
WHERE 
    (g)-[:TOOK_PLACE_IN]->(sea)
RETURN 
    t.name as team, sum(CASE WHEN s.score < s2.score AND g.game_type <> "regular_season" THEN 1 ELSE 0 END) as losses, sea.name as season
ORDER BY 
    team, season
```

In [41]:
losses_per_team_per_season = """
MATCH 
    (t:Team)-[:SCORED]->(s:Score)-[:IN_GAME]->(g:Game)<-[:IN_GAME]-(s2:Score)<-[:SCORED]-(t2:Team), (sea:Season)
WHERE 
    (g)-[:TOOK_PLACE_IN]->(sea)
RETURN 
    t.name as team, sum(CASE WHEN s.score < s2.score AND g.game_type = "regular_season" THEN 1 ELSE 0 END) as losses, sea.name as season
ORDER BY 
    team, season
"""

In [42]:
dta, hea = db.cypher_query(losses_per_team_per_season)

In [43]:
pd.DataFrame(dta, columns=hea).head()

             team  losses     season
0   Atlanta Hawks      48  2015/2016
1   Atlanta Hawks      43  2016/2017
2   Atlanta Hawks      24  2017/2018
3  Boston Celtics      48  2015/2016
4  Boston Celtics      53  2016/2017

### TODOs
- wins
- losses

x

- regular
- po

x

- home
- away

x 

- season