In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("../data/1718/Oct1718.csv", sep=",")

In [4]:
df.head()

,Date,Start (ET),Visitor/Neutral,PTS,Home/Neutral,PTS.1,Unnamed: 6,Unnamed: 7,Attend.,Notes
0,Tue Oct 17 2017,8:01 pm,Boston Celtics,99,Cleveland Cavaliers,102,Box Score,NaN,20562,NaN
1,Tue Oct 17 2017,10:30 pm,Houston Rockets,122,Golden State Warriors,121,Box Score,NaN,19596,NaN
2,Wed Oct 18 2017,7:30 pm,Milwaukee Bucks,108,Boston Celtics,100,Box Score,NaN,18624,NaN
3,Wed Oct 18 2017,8:30 pm,Atlanta Hawks,117,Dallas Mavericks,111,Box Score,NaN,19709,NaN
4,Wed Oct 18 2017,7:00 pm,Charlotte Hornets,90,Detroit Pistons,102,Box Score,NaN,20491,NaN

In [13]:
df = df.drop(df.columns[[1, 6,7,8,9]], axis=1)

In [14]:
df.head()

              Date    Visitor/Neutral  PTS         Home/Neutral  PTS.1
0  Tue Oct 17 2017     Boston Celtics   99  Cleveland Cavaliers    102
2  Wed Oct 18 2017    Milwaukee Bucks  108       Boston Celtics    100
3  Wed Oct 18 2017      Atlanta Hawks  117     Dallas Mavericks    111
4  Wed Oct 18 2017  Charlotte Hornets   90      Detroit Pistons    102
5  Wed Oct 18 2017      Brooklyn Nets  131       Indiana Pacers    140

In [23]:
def label_win (row):
    if row['PTS'] > row["PTS.1"]:
        return 1
    return 0

In [25]:
df["team1_win"] = df.apply (lambda row: label_win (row),axis=1)

In [26]:
df.head()

,Date,Visitor/Neutral,PTS,Home/Neutral,PTS.1,team1_win
0,Tue Oct 17 2017,Boston Celtics,99,Cleveland Cavaliers,102,0
2,Wed Oct 18 2017,Milwaukee Bucks,108,Boston Celtics,100,1
3,Wed Oct 18 2017,Atlanta Hawks,117,Dallas Mavericks,111,1
4,Wed Oct 18 2017,Charlotte Hornets,90,Detroit Pistons,102,0
5,Wed Oct 18 2017,Brooklyn Nets,131,Indiana Pacers,140,0

In [27]:
df.to_csv("test_schedule", sep=",")