# Feature Generation
This notebooks contains features derived with Cypher

In [1]:
# Necessary to import custom modules
import os
os.chdir("/home/jovyan/work")

from neomodel import db
import pandas as pd

from src.utils import init_connection

In [2]:
from src.features import get_feature

In [6]:
get_feature("wins_per_team_per_season").head()

             team  wins     season
0   Atlanta Hawks    52  2015/2016
1   Atlanta Hawks    45  2016/2017
2   Atlanta Hawks    24  2017/2018
3  Boston Celtics    50  2015/2016
4  Boston Celtics    62  2016/2017

In [7]:
get_feature("losses_per_team_per_season").head()

             team  losses     season
0   Atlanta Hawks      40  2015/2016
1   Atlanta Hawks      43  2016/2017
2   Atlanta Hawks      58  2017/2018
3  Boston Celtics      38  2015/2016
4  Boston Celtics      38  2016/2017